@charset "utf-8";
body {
	font-family		: ${font.standard.font-family};
	font-size		: ${font.standard.font-size};
	font-weight		: ${font.standard.font-weight};
	font-style		: ${font.standard.font-style};
	background-color: ${color.body.background-color};
}

h1,h2,h3 {
	color			: ${color.content.headline.color};
}

h1, .cm-h1 {
	font-family		: ${font.h1.font-family};
	font-size		: ${font.h1.font-size};
	font-weight		: ${font.h1.font-weight};
	font-style		: ${font.h1.font-style};
}

h2 {
	font-family		: ${font.h2.font-family};
	font-size		: ${font.h2.font-size};
	font-weight		: ${font.h2.font-weight};
	font-style		: ${font.h2.font-style};
}

h3 {
	font-family		: ${font.h3.font-family};
	font-size		: ${font.h3.font-size};
	font-weight		: ${font.h3.font-weight};
	font-style		: ${font.h3.font-style};
}

h4, h5, h6 {
	font-family		: ${font.h1.font-family};
}

a {
	color			: ${color.content.link.color};
}

a:hover {
	color			: ${color.content.link.hover.color};
}


/* ################################################## */
/* ################ INPUT ELEMENTS ################## */
/* ################################################## */
#page .cm_widget input[type='text'], #page .cm_widget input[type='date'], #page .cm_widget input[type='datetime'], 
#page .cm_widget input[type='email'], #page .cm_widget input[type='number'], #page .cm_widget input[type='password'],
#page .cm_widget input[type='search'], #page .cm_widget input[type='tel'], #page .cm_widget input[type='time'],
#page .cm_widget input[type='url'], #page .cm_widget textarea, #page .cm_widget select,
#page .cm_widget button, #page .cm_widget input[type='button'], #page .cm_widget input[type='submit'], #page .cm_widget input[type='reset'] {
	border-radius:		0px;
	padding:			9px 14px;
	color:				${color.content.color};
	background-color:	${color.content.background-color};
	background-color:	rgba(${color.content.color.red}, ${color.content.color.green}, ${color.content.color.blue}, 0.08);
	background-color:	rgba(${color.content.color.rgb},0.08);
	border:				1px solid rgba(${color.content.color.red}, ${color.content.color.green}, ${color.content.color.blue}, 0.15);
	border:				1px solid rgba(${color.content.color.rgb},0.15);
	-webkit-transition:	color 0.3s, background-color 0.3s, box-shadow 0.3s, border 0.3s;
	-moz-transition:	color 0.3s, background-color 0.3s, box-shadow 0.3s, border 0.3s;
	-o-transition:		color 0.3s, background-color 0.3s, box-shadow 0.3s, border 0.3s;
	transition:			color 0.3s, background-color 0.3s, box-shadow 0.3s, border 0.3s;
	
	font-family:	${font.standard.font-family};
	font-size:		${font.standard.font-size};
	font-weight:	${font.standard.font-weight};
	font-style:		${font.standard.font-style};
}
#page .cm_widget button, #page .cm_widget input[type='button'], #page .cm_widget input[type='submit'], #page .cm_widget input[type='reset'] {
	cursor:			pointer;
}
#page .cm_widget input[type='text']:focus, #page .cm_widget input[type='date']:focus, #page .cm_widget input[type='datetime']:focus, 
#page .cm_widget input[type='email']:focus, #page .cm_widget input[type='number']:focus, #page .cm_widget input[type='password']:focus,
#page .cm_widget input[type='search']:focus, #page .cm_widget input[type='tel']:focus, #page .cm_widget input[type='time']:focus,
#page .cm_widget input[type='url']:focus, #page .cm_widget textarea:focus, #page .cm_widget select:focus, #page .cm_widget select:focus option,
#page .cm_widget button:hover, #page .cm_widget input[type='button']:hover, #page .cm_widget input[type='submit']:hover, #page .cm_widget input[type='reset']:hover {
	color:				#FFFFFF;
	color:				${color.content.background-color};
	background-color:	rgba(0,0,0,0.7);
	background-color:	rgba(${color.content.color.red}, ${color.content.color.green}, ${color.content.color.blue}, 0.7);
	background-color:	rgba(${color.content.color.rgb},0.7);
	box-shadow:			0px 0px 15px rgba(0,0,0,0.3);
	outline:			none;
}

.shopWidgetSeperatedDiv input[type='text'], .shopWidgetSeperatedDiv button, .shopWidgetSeperatedDiv input[type='button'], .shopWidgetSeperatedDiv input[type='submit'], .shopWidgetSeperatedDiv input[type='reset'] {
	padding:		8px 3px;
	min-width:		45px;
}	
.shopWidgetSeperatedDiv button, .shopWidgetSeperatedDiv input[type='button'], .shopWidgetSeperatedDiv input[type='submit'], .shopWidgetSeperatedDiv input[type='reset'] {
	background-size: 	cover !important;
	border:				none;
}




/*         ______
__________/ main \__________________________________________________________________
--------------------------------------------------------------------------------------- */

#content_wrapper {
	background-color	: ${color.content.background-color};
	color				: ${color.content.color};
}

.content_main {
	background-color	: ${color.content.background-color};
	color				: ${color.content.color};
	font-family		    : ${font.standard.font-family};
	font-size		    : ${font.standard.font-size};
	font-weight		    : ${font.standard.font-weight};
	font-style		    : ${font.standard.font-style};
}

.content_main h1,
.content_main h2,
.content_main h3 {
	color			    : ${color.content.headline.color};
}

.content_main h1, .content_main .cm-h1 {
	font-family		    : ${font.h1.font-family};
	font-size		    : ${font.h1.font-size};
	font-weight		    : ${font.h1.font-weight};
	font-style		    : ${font.h1.font-style};
}
.content_main h2 {
	font-family		    : ${font.h2.font-family};
	font-size		    : ${font.h2.font-size};
	font-weight		    : ${font.h2.font-weight};
	font-style		    : ${font.h2.font-style};
}
.content_main h3 {
	font-family		    : ${font.h3.font-family};
	font-size		    : ${font.h3.font-size};
	font-weight		    : ${font.h3.font-weight};
	font-style		    : ${font.h3.font-style};
}
.content_main a {
	color				: ${color.content.link.color};
}
.content_main a:hover {
	color				: ${color.content.link.hover.color};
}

/*         ________
__________/ header \__________________________________________________________________
--------------------------------------------------------------------------------------- */

#header {
	background-color	: ${color.header.background-color};
}

#title_wrapper h1 {
	font-family			: ${font.title.font-family};
	font-weight			: ${font.title.font-weight};
	font-style			: ${font.title.font-style};
	font-size			: ${font.title.font-size};
	color				: ${color.header.title.color};
}

#title_wrapper h2 {
	font-family			: ${font.h2.font-family};
	font-size			: ${font.h2.font-size};
	font-weight			: ${font.h2.font-weight};
	font-style			: ${font.h2.font-style};
	color				: ${color.header.subtitle.color};
}

/*         ____________
__________/ navigation \__________________________________________________________________
--------------------------------------------------------------------------------------- */

/* NAV NORMAL */
#cm_navigation ul li a {
	background-color	: ${color.navigation.background-color};
	color				: ${color.navigation.color};
	font-family			: ${font.navigation.font-family};
	font-style			: ${font.navigation.font-style};
	font-size			: ${font.navigation.font-size};
	font-weight			: ${font.navigation.font-weight};
}

/* NAV MOUSE */
#cm_navigation ul li a:hover {
	background-color	: ${color.navigation.alt.background-color};
	color				: ${color.navigation.alt.color};
}

/* NAV HIGH */
#cm_navigation ul li.cm_current a {
	background-color	: ${color.navigation.alt.background-color};
	color				: ${color.navigation.alt.color};
}

/*         _______________
__________/ Subnavigation \__________________________________________________________________
--------------------------------------------------------------------------------------- */

/* SUBNAV NORMAL */
#cm_navigation ul.cm_subnavigation li a {
	background-color	: ${color.subnavigation.background-color};
	color				: ${color.subnavigation.color};
	font-family			: ${font.navigation.font-family};
	font-style			: ${font.navigation.font-style};
	font-size			: ${font.navigation.font-size};
	font-weight			: ${font.navigation.font-weight};
}

/* SUBNAV MOUSE */
#cm_navigation ul.cm_subnavigation li a:hover {
	background-color	: ${color.subnavigation.alt.background-color};
	color				: ${color.subnavigation.alt.color};
}

/* SUBNAV HIGH */
#cm_navigation ul.cm_subnavigation li.cm_current a {
	background-color	: ${color.subnavigation.alt.background-color};
	color				: ${color.subnavigation.alt.color};
}

/*         ______________________
__________/ 3rd level navigation \_______________________________________________________
--------------------------------------------------------------------------------------- */

/* SUBNAV NORMAL */
#cm_navigation ul.cm_subnavigation li ul.cm_subnavigation li a {
	background-color	: ${color.subnavigation.background-color};
	color				: ${color.subnavigation.color};
	font-family			: ${font.navigation.font-family};
	font-style			: ${font.navigation.font-style};
	font-size			: ${font.navigation.font-size};
	font-weight			: ${font.navigation.font-weight};
}

/* SUBNAV MOUSE */
#cm_navigation ul.cm_subnavigation li ul.cm_subnavigation li a:hover {
	background-color	: ${color.subnavigation.alt.background-color};
	color				: ${color.subnavigation.alt.color};
}

/* SUBNAV HIGH */
#cm_navigation ul.cm_subnavigation li ul.cm_subnavigation li.cm_current a {
	background-color	: ${color.subnavigation.alt.background-color};
	color				: ${color.subnavigation.alt.color};
}

/*         ________
__________/ footer \__________________________________________________________________
--------------------------------------------------------------------------------------- */

#footer {
	background-color	: ${color.footer.background-color};
	color				: ${color.footer.color};
}

#border_bottom_inner {
	background-color	: ${color.footer.background-color};
}

#border_top_inner {
	background-color	: ${color.header.background-color};
}

#footer a {
	color			: ${color.footer.color};
}

#footer a:hover {
	color			: ${color.footer.alt.color};
}

